@{
    ViewData["Title"] = "Чит-меню";
}
@using Cofefe.ViewModels
@using Cofefe.Models
@using Cofefe.Controllers
@model UserProductViewmodel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/AdminViewStyle.css" />

<div class="main">
    <div class="filter">
        <form style="grid-row:1;" class="filtercatalog" method="post" action="/Home/GetUsers" id="userForm">
            <button type="submit" class="btnproductcatalog">
                <p id="catalog1">Каталог пользователей</p>
            </button>
        </form>
        <form style="grid-row:2;" class="filtercatalog" method="post" action="/Home/GetProducts" id="catalogForm">
            <button type="submit" class="btnproductcatalog" style="width:160px;">
                <p id="catalog2">Каталог товаров</p>
            </button>
        </form>
    </div>
    @if (Model != null && Model.Products != null && Model.Products.Any())
    {
    <div class="catalogAdmin">
            @if (ViewBag.IsUsersCatalog)
            {
                <div class="emptycard" style="width: 450px;height: 300px; margin:30px;">
                    <button class="addbtn" style="width: 450px;height: 300px;"></button>
                </div>
                @foreach (var product in Model.Products)
                {
                    <div class="card">
                        <img class="image" alt="@product.Image" src="data:image/png;base64,@product.Image">

                        <div class="divtxt">
                            <div class="div-name">
                                <h3 class="namecard">@product.Name</h3>
                            </div>
                            <div class="divnameprop">
                                <h3 class="textcard">Кислотность</h3>
                                <h3 class="textcard">Плотность</h3>
                            </div>
                            <div class="divdbvalue">
                                @foreach (var inf in Model.CategoryProducts
                               .Join(Model.Categories, cp => cp.CategoryID, c => c.Id, (cp, c) => new { cp, c })
                               .Join(Model.Products, x => x.cp.ProductID, p => p.Id, (x, p) => new { x.cp, x.c, p }).Where(x => x.p.Id == product.Id))
                                {
                                    @if (inf.c.Id == 1)
                                    {
                                        <h3 class="textcard" alt="кислотность">@inf.cp.Value</h3>
                                    }
                                    else if (inf.c.Id == 2)
                                    {
                                        <h3 class="textcard" alt="Плотность">@inf.cp.Value</h3>
                                    }

                                }
                            </div>
                            <div class="divproductinf">
                                <h3 style="grid-row:1; margin-left:5px;">@product.Description</h3>
                                <h3 style="grid-row:2; margin-left:5px; margin-top:10px;">Вес: @product.Weight г.</h3>
                                <div class="divproductcost">
                                    <h3 style="grid-column:1; margin-left:5px; font-size:25px;margin-top:10px;">@product.Cost ₽</h3>
                                </div>
                            </div>
                            
                        </div>
                        <div class="deldiv" style="grid-column:2;grid-row:2;">
                            <button class="btndel" style=" margin: 5px 21px 5px 21px;">Удалить</button>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="emptycard">
                    <button class="addbtn"></button>
                </div>
                @foreach (var user in Model.Users.Where(x => x.role == 2))
                {
                    <div class="usercard">
                        <div class="namediv">
                            <h3 class="namecard">@user.FIO</h3>
                        </div>
                        <div class="propdiv">
                            <h3 class="namecard" style="grid-row:1; grid-column:1">Логин:</h3>
                            <h3 class="namecard" style="grid-row:2; grid-column:1">Пароль:</h3>
                            <h3 class="namecard" style="grid-row:3; grid-column:1">Номер телефона:</h3>
                            <h3 class="namecard" style="grid-row:4; grid-column:1">Адресс:</h3>

                            <h3 class="namecard" style="grid-row:1; grid-column:2">@user.Login</h3>
                            <h3 class="namecard" style="grid-row:2; grid-column:2">@user.Password</h3>
                            <h3 class="namecard" style="grid-row:3; grid-column:2">
                                @($"8({user.PhoneNumber.Substring(1, 3)})-{user.PhoneNumber.Substring(4, 3)}-{user.PhoneNumber.Substring(7, 2)}-{user.PhoneNumber.Substring(9, 2)}")
                            </h3>
                            <h3 class="namecard" style="grid-row:4; grid-column:2">@user.Address</h3>
                        </div>
                        <div class="deldiv">
                            <button class="btndel">Удалить</button>
                        </div>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div style="background-color:#1B1924;">
            <p style="color:#F7F7F7; margin-left:20px;">Нет доступных товаров.</p>
        </div>
        
    }
</div>
