@{
    ViewData["Title"] = "Корзина";
}
@using Cofefe.ViewModels
@model UserProductCartViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/CartStyle.css" />
<div class="main_cart">
    <div class="main_name">
        <h1>Корзина</h1>
    </div>
    <div class="main_catalog">
        <div class="catalog_products">
            @foreach (var shoppingCartItem in Model.shoppingCarts
            .Join(Model.users, cart => cart.UserID, user => user.Id, (cart, user) => new { cart, user })
            .Join(Model.products, cartUser => cartUser.cart.ProductID, product => product.Id, (cartUser, product) => new { cartUser, product })
            .Where(x => x.cartUser.user.Id == 2))
            {
                <div class="catalog_card">
                    <div class="card_image">
                        <img alt="@shoppingCartItem.product.Image" src="data:image/png;base64,@shoppingCartItem.product.Image">
                    </div>
                    <div class="card_main">
                        <div class="card_main_name">
                            <h3>@shoppingCartItem.product.Name</h3>
                        </div>
                        <div class="card_main_description">
                            <h3>@shoppingCartItem.product.Description</h3>
                        </div>
                        <div class="card_main_weight">
                            <h3>Вес: @shoppingCartItem.product.Weight</h3>
                        </div>
                        <div class="card_main_count">
                            <h3>Количество: @shoppingCartItem.cartUser.cart.ProductCount</h3>
                        </div>
                        <div class="card_main_cost">
                            <h3>Цена: @shoppingCartItem.product.Cost</h3>
                        </div>
                        <div class="card_main_btn">
                            <button class="card_main_btn_style">Убрать из корзины</button>
                        </div>
                    </div>
                </div>
            }
            <div class="cart_to_order">
                <button class="cart_to_order_btn">Сделать заказ</button>
            </div>
        </div>
    </div>
    

</div>
