@{
    ViewData["Title"] = "Корзина";
    bool check = true;
}
@using Cofefe.ViewModels
@model UserProductCartViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/CartStyle.css" />
<div class="main_cart">
    <div class="main_name">
        <h1>Корзина</h1>
    </div>
    <div class="main_catalog">
        @if (!Model.ShoppingCartItems.Any())
        {
            <h1>На данный момент в корзине нет продуктов</h1>
        }
        else
        {
            @foreach (var shoppingCartItem in Model.ShoppingCartItems)
            {
                <div class="catalog_card">
                    <div class="card_image">
                        <img alt="@shoppingCartItem.Product.Image" src="data:image/png;base64,@shoppingCartItem.Product.Image">
                    </div>
                    <div class="card_main">
                        <div class="card_main_name">
                            <h3>@shoppingCartItem.Product.Name</h3>
                        </div>
                        <div class="card_main_description">
                            <h3>@shoppingCartItem.Product.Description</h3>
                        </div>
                        <div class="card_main_weight">
                            <h3>Вес: @shoppingCartItem.Product.Weight</h3>
                        </div>
                        <div class="card_main_count">
                            <h3>Количество: <span id="productCount">@shoppingCartItem.ProductCount</span></h3>
                            <div class="card_main_count_str">
                                <button class="card_main_count_btn" onclick="decreaseCount('@shoppingCartItem.ProductID')">-</button>
                                <button class="card_main_count_btn" onclick="increaseCount('@shoppingCartItem.ProductID')">+</button>
                            </div>
                        </div>
                        <div class="card_main_cost">
                            <h3>Цена: @shoppingCartItem.Product.Cost</h3>
                        </div>
                        <form asp-action="RemoveFromCart" asp-controller="Home" class="card_main_btn" method="post">
                            <input type="hidden" name="productId" value="@shoppingCartItem.Product.Id">
                            <button type="submit" class="card_main_btn_style">Убрать из корзины</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    <form class="cart_to_order" style="justify-content:flex-end; display:flex;" asp-action="CreateOrder" asp-controller="Home" method="post">
        <button type="submit" class="cart_to_order_btn">Сделать заказ</button>
    </form>

</div>
<script>
    function decreaseCount(productId) {
        var countElement = document.getElementById("productCount");
        var currentCount = parseInt(countElement.textContent);
        if (currentCount > 1) {
            countElement.textContent = currentCount - 1;
            // Выполняем AJAX-запрос на сервер для уменьшения количества товаров
            $.ajax({
                type: 'POST',
                url: '/Home/DecreaseProductCount', // URL вашего контроллера и метода
                data: { productId: productId }, // передаем productId на сервер
                success: function (response) {
                    // обработка успешного ответа от сервера (если необходимо)
                },
                error: function (xhr, status, error) {
                    // обработка ошибки (если необходимо)
                }
            });
        }
    }

    function increaseCount(productId) {
        var countElement = document.getElementById("productCount");
        var currentCount = parseInt(countElement.textContent);
        countElement.textContent = currentCount + 1;
        // Выполняем AJAX-запрос на сервер для увеличения количества товаров
        $.ajax({
            type: 'POST',
            url: '/Home/IncreaseProductCount', // URL вашего контроллера и метода
            data: { productId: productId }, // передаем productId на сервер
            success: function (response) {
                // обработка успешного ответа от сервера (если необходимо)
            },
            error: function (xhr, status, error) {
                // обработка ошибки (если необходимо)
            }
        });
    }
</script>