@{
    ViewData["Title"] = "Корзина";
    bool check = true;
}
@using Cofefe.ViewModels
@model UserProductCartViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/CartStyle.css" />
<div class="main_cart">
    <div class="main_name">
        <h1>Корзина</h1>
    </div>
    <div class="main_catalog">
        @if (!Model.ShoppingCartItems.Any())
        {
            <h1>На данный момент в корзине нет продуктов</h1>
        }
        else
        {
            @foreach (var shoppingCartItem in Model.ShoppingCartItems)
            {
                <div class="catalog_card">
                    <div class="card_image">
                        <img alt="@shoppingCartItem.Product.Image" src="data:image/png;base64,@shoppingCartItem.Product.Image">
                    </div>
                    <div class="card_main">
                        <div class="card_main_name">
                            <h3>@shoppingCartItem.Product.Name</h3>
                        </div>
                        <div class="card_main_description">
                            <h3>@shoppingCartItem.Product.Description</h3>
                        </div>
                        <div class="card_main_weight">
                            <h3>Вес: @shoppingCartItem.Product.Weight</h3>
                        </div>
                        <div class="card_main_count">
                            <h3>Количество: <span id="productCount-@shoppingCartItem.ProductID">@shoppingCartItem.ProductCount</span></h3>
                            <div class="card_main_count_str">
                                <button class="card_main_count_btn" onclick="decreaseCount('@shoppingCartItem.ProductID', '@Model.UserAuth.Id')">-</button>
                                <button class="card_main_count_btn" onclick="increaseCount('@shoppingCartItem.ProductID', '@Model.UserAuth.Id')">+</button>
                            </div>
                        </div>
                        <div class="card_main_cost">
                            <h3>Цена: @shoppingCartItem.Product.Cost</h3>
                        </div>
                        <form asp-action="RemoveFromCart" asp-controller="Home" class="card_main_btn" method="post">
                            <input type="hidden" name="productId" value="@shoppingCartItem.Product.Id">
                            

                            <button type="submit" class="card_main_btn_style">Убрать из корзины</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    <div class="cart_to_order">
        <div class="panelcount1">
            <span id="totalCost">Суммарная цена: 0</span>
        </div>
        <form asp-action="CreateOrder" asp-controller="Home" method="post" id="orderForm">
            <button type="button" class="cart_to_order_btn" onclick="confirmOrder()">Сделать заказ</button>
        </form>
    </div>

</div>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';
        alert(errorMessage);
        
    }
    </script>
}
<script>
    function updateTotalCost() {
        var totalCost = 0;
        document.querySelectorAll('.catalog_card').forEach(function (card) {
            var count = parseInt(card.querySelector('span[id^="productCount-"]').textContent);
            var cost = parseFloat(card.querySelector('.card_main_cost h3').textContent.replace('Цена: ', ''));
            totalCost += count * cost;
        });
        document.getElementById('totalCost').textContent = 'Суммарная цена: ' + totalCost.toFixed(2);
    }

    function decreaseCount(productId, userId) {
        var countElement = document.getElementById("productCount-" + productId);
        var currentCount = parseInt(countElement.textContent);
        if (currentCount > 1) {
            countElement.textContent = currentCount - 1;
            updateTotalCost();
            $.ajax({
                type: 'POST',
                url: '/Home/DecreaseProductCount',
                data: {
                    productId: productId,
                    userId: userId
                },
                success: function (response) {
                },
                error: function (xhr, status, error) {
                }
            });
        }
    }

    function increaseCount(productId, userId) {
        var countElement = document.getElementById("productCount-" + productId);
        var currentCount = parseInt(countElement.textContent);
        countElement.textContent = currentCount + 1;
        updateTotalCost();
        $.ajax({
            type: 'POST',
            url: '/Home/IncreaseProductCount',
            data: {
                productId: productId,
                userId: userId
            },
            success: function (response) {
            },
            error: function (xhr, status, error) {
            }
        });
    }
    function confirmOrder() {
        if (confirm("Вы точно хотите оформить заказ? Проверьте адрес доставки у себя в профиле.")) {
            document.getElementById("orderForm").submit();
        }
    }


    document.addEventListener("DOMContentLoaded", function () {
        updateTotalCost();
    });
</script>