@{
    ViewData["Title"] = "Корзина";
    bool check = true;
}
@using Cofefe.ViewModels
@model UserProductCartViewModel

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/CartStyle.css" />
<div class="main_cart">
    <div class="main_name">
        <h1>Корзина</h1>
    </div>
    <div class="main_catalog">
        <div class="catalog_products">
            @if (!Model.ShoppingCartItems.Any())
            {
                <h1>На данный момент в корзине нет продуктов</h1>
            }
            else
            {
            @foreach (var shoppingCartItem in Model.ShoppingCartItems)
            {
                <div class="catalog_card">
                    <div class="card_image">
                        <img alt="@shoppingCartItem.Product.Image" src="data:image/png;base64,@shoppingCartItem.Product.Image">
                    </div>
                    <div class="card_main">
                        <div class="card_main_name">
                            <h3>@shoppingCartItem.Product.Name</h3>
                        </div>
                        <div class="card_main_description">
                            <h3>@shoppingCartItem.Product.Description</h3>
                        </div>
                        <div class="card_main_weight">
                            <h3>Вес: @shoppingCartItem.Product.Weight</h3>
                        </div>
                        <div class="card_main_count">
                            <h3>Количество: @shoppingCartItem.ProductCount</h3>
                        </div>
                        <div class="card_main_cost">
                            <h3>Цена: @shoppingCartItem.Product.Cost</h3>
                        </div>
                        <form asp-action="RemoveFromCart" asp-controller="Home" class="card_main_btn" method="post">
                            <input type="hidden" name="productId" value="@shoppingCartItem.Product.Id">
                            <button type="submit" class="card_main_btn_style">Убрать из корзины</button>
                        </form>
                    </div>
                </div>
            }
            <form class="cart_to_order" style="justify-content:flex-end; display:flex;" asp-action="CreateOrder" asp-controller="Home" method="post">
                <button type="submit" class="cart_to_order_btn">Сделать заказ</button>
            </form>
            }
        </div>
    </div>
    

</div>
