@{
    ViewData["Title"] = "Cofefe";
}
@model List<Product>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/StyleSheet.css" />
<div class="main">
    <div class="main">
        <div class="filter">
            <div class="filternamediv">
                <h2>Фильтры</h2>
            </div>
            <div class ="filtercontentdiv">
                <div class="filtercontentdivelement1">
                    <div class="acidityname">
                        <h2 style="height:20px">Кислотность</h2>
                    </div>
                    <div class="aciditycontent">
                        <label style="cursor:pointer; grid-row:1; margin-left:20px; margin-top:10px"><input type="checkbox" name="acidity" value="Low">Низкая</label>
                        <label style="cursor:pointer; grid-row:2; margin-left:20px"><input type="checkbox" name="acidity" value="Medium">Средняя</label>
                        <label style="cursor:pointer; grid-row:3; margin-left:20px"><input type="checkbox" name="acidity" value="High">Высокая</label>
                    </div>
                </div>
                <div class="filtercontentdivelement2">
                    <div class="densityname">
                        <h2 style="height:20px">Плотность</h2>
                    </div>
                    <div class="densitycontent">
                        <label style="cursor:pointer; grid-row:1; margin-left:20px; margin-top:10px"><input type="checkbox" name="acidity" value="Low">Низкая</label>
                        <label style="cursor:pointer; grid-row:2; margin-left:20px"><input type="checkbox" name="acidity" value="Medium">Средняя</label>
                        <label style="cursor:pointer; grid-row:3; margin-left:20px"><input type="checkbox" name="acidity" value="High">Высокая</label>
                    </div>
                </div>
                <div class="filtercontentdivelement3">
                    <div class="growthname">
                        <h2 style="height:20px">Страна произрастания</h2>
                    </div>
                    <div class="growthcontent">
                        <label style="cursor:pointer; grid-row:1; grid-column:1; margin-left:20px; margin-top:10px"><input type="checkbox" name="acidity" value="Low">Боливия</label>
                        <label style="cursor:pointer; grid-row:2; grid-column:1; margin-left:20px"><input type="checkbox" name="acidity" value="Medium">Бразилия</label>
                        <label style="cursor:pointer; grid-row:3; grid-column:1; margin-left:20px"><input type="checkbox" name="acidity" value="High">Гватемала</label>
                        <label style="cursor:pointer; grid-row:4; grid-column:1; margin-left:20px"><input type="checkbox" name="acidity" value="Low">Кения</label>
                        <label style="cursor:pointer; grid-row:5; grid-column:1; margin-left:20px"><input type="checkbox" name="acidity" value="Medium">Китай</label>
                        <label style="cursor:pointer; grid-row:1; grid-column:2; margin-left:20px; margin-top:10px"><input type="checkbox" name="acidity" value="High">Колумбия</label>
                        <label style="cursor:pointer; grid-row:2; grid-column:2; margin-left:20px"><input type="checkbox" name="acidity" value="Low">Коста-Рика</label>
                        <label style="cursor:pointer; grid-row:3; grid-column:2; margin-left:20px"><input type="checkbox" name="acidity" value="Medium">Перу</label>
                        <label style="cursor:pointer; grid-row:4; grid-column:2; margin-left:20px"><input type="checkbox" name="acidity" value="High">Руанда</label>
                        <label style="cursor:pointer; grid-row:5; grid-column:2; margin-left:20px"><input type="checkbox" name="acidity" value="High">Эфиопия</label>
                    </div>
                </div>
                <div class="filtercontentdivelement4">
                    <div class="roastname">
                        <h2 style="height:20px">Степень обжарки</h2>
                    </div>
                    <div class="roastcontent">
                        <label style="cursor:pointer; grid-row:1; margin-left:20px; margin-top:10px"><input type="checkbox" name="acidity" value="Low">Светлая</label>
                        <label style="cursor:pointer; grid-row:2; margin-left:20px"><input type="checkbox" name="acidity" value="Medium">Средняя</label>
                        <label style="cursor:pointer; grid-row:3; margin-left:20px"><input type="checkbox" name="acidity" value="High">Тёмная</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="catalog">
            @foreach(var product in Model)
            {
                <div class="card">
                    <img class="image" alt="@product.Image" src="data:image/png;base64,@product.Image">
                    <h3 class="namecard">@product.Name</h3>
                    <div class="divtxt">
                        
                        <div class="divnameprop">
                            <h3 class="textcard">Плотность</h3>
                            <h3 class="textcard">Кислотность</h3>
                            <h3 class="textcard">Произрастание</h3>
                            <h3 class="textcard">Степень обжарки</h3>
                        </div>
                        <div class="divdbvalue">
                            <h3 class="textcard" alt="немало">немало</h3>
                            <h3 class="textcard" alt="немного">немного</h3>
                            <h3 class="textcard" alt="где-то">где-то</h3>
                            <h3 class="textcard" alt="норм">норм</h3>
                        </div>
                        <div class="divproductinf">
                            <h3 style="grid-row:1; margin-left:5px;">@product.Description</h3>
                            <h3 style="grid-row:2; margin-left:5px;">Вес: @product.Weight г.</h3>
                            <div class="divproductcost">
                                <h3 style="grid-column:1; margin-left:5px; font-size:20px">@product.Cost ₽</h3>
                                <h3 style="grid-column:2; margin-left:5px;">На складе: @product.StockQuantity</h3>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="divinf">
                        <div class="favorite-btn">
                            <input type="checkbox" id="favoriteStar_@product.Id" name="favorite">
                            <label for="favoriteStar_@product.Id">&#9733;</label>
                        </div>
                        <h3 class="gradetext">5.0</h3>
                        <button class="commentbtn">com</button>
                    </div>
                    
                    
                    <button class="buttonbuy">В корзину</button>
                </div>
            }
        </div>
    </div>
</div>
