@model List<Product>

<div class="catalogAdmin">
    @foreach (var product in Model)
    {
        <div class="card">
            <img class="image" alt="@product.Image" src="data:image/png;base64,@product.Image">
            <h3 class="namecard">@product.Name</h3>
            <div class="divtxt">

                <div class="divnameprop">
                    <h3 class="textcard">Плотность</h3>
                    <h3 class="textcard">Кислотность</h3>
                    <h3 class="textcard">Произрастание</h3>
                    <h3 class="textcard">Степень обжарки</h3>
                </div>
                <div class="divdbvalue">
                    <h3 class="textcard" alt="немало">немало</h3>
                    <h3 class="textcard" alt="немного">немного</h3>
                    <h3 class="textcard" alt="где-то">где-то</h3>
                    <h3 class="textcard" alt="норм">норм</h3>
                </div>
                <div class="divproductinf">
                    <h3 style="grid-row:1; margin-left:5px;">@product.Description</h3>
                    <h3 style="grid-row:2; margin-left:5px; margin-top:10px;">Вес: @product.Weight г.</h3>
                    <div class="divproductcost">
                        <h3 style="grid-column:1; margin-left:5px; font-size:20px;margin-top:10px;">@product.Cost ₽</h3>
                        <h3 style="grid-column:2; margin-left:5px;margin-top:10px;">На складе: @product.StockQuantity</h3>
                    </div>

                </div>

            </div>
        </div>
    }
</div>